* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #b0c4f5; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  background-color: #9b1754; 
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  flex: 1;
  width: 300px;
}

.search-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}